body{
margin:0;
min-height:100vh;
font-family:sans-serif;
direction:rtl;
color:white;
background:url("./images/ros.png") center/cover fixed no-repeat;
transition:1.2s;
overflow-x:hidden;
}

body.deep-mode{
background:url("./images/moon.jpg") center/cover fixed no-repeat;
}

/* container */

.container{
max-width:420px;
margin:60px auto;
padding:20px;
position:relative;
z-index:2;
}

.glass-card{
background:rgba(255,255,255,0.1);
padding:25px;
border-radius:20px;
backdrop-filter:blur(12px);
}

/* slideshow */

.slideshow{
width:220px;
height:300px;
margin:auto;
overflow:hidden;
position:relative;
border-radius:20px;
}

.slide{
position:absolute;
width:100%;
height:100%;
object-fit:cover;
opacity:0;
transition:1s;
}

.slide.active{
opacity:1;
}

/* نور سینمایی */

.slide::after{
content:"";
position:absolute;
width:100%;
height:100%;
background:linear-gradient(120deg,transparent,rgba(255,255,255,0.2),transparent);
animation:shine 6s infinite;
}

@keyframes shine{
0%{transform:translateX(-100%);}
100%{transform:translateX(100%);}
}

/* buttons */

.main-button{
padding:14px 36px;
border:none;
border-radius:999px;
cursor:pointer;
color:white;
background:linear-gradient(135deg,#ff4d6d,#ff85a1);
margin:6px;
}

.main-button.soft{
background:linear-gradient(135deg,#8e2de2,#ff6a88);
}

/* message */

#loveMessage{
margin-top:25px;
opacity:0;
transition:1s;
text-align:center;
line-height:1.9;
}

#loveMessage.show{
opacity:1;
}

/* flower rain */

.flower-rain{
position:fixed;
inset:0;
pointer-events:none;
z-index:1;
}

.flower{
position:absolute;
top:-40px;
font-size:22px;
animation:fall linear infinite;
}

@keyframes fall{
to{
transform:translateY(120vh) rotate(360deg);
opacity:0;
}
}

/* fireflies */

.firefly{
position:fixed;
width:6px;
height:6px;
background:#fffacd;
border-radius:50%;
box-shadow:0 0 12px #fffacd;
animation:fly 6s linear forwards;
pointer-events:none;
}

@keyframes fly{
0%{opacity:0; transform:translateY(0);}
50%{opacity:1;}
100%{opacity:0; transform:translateY(-120px);}
}

/* stars */

.star{
position:fixed;
width:2px;
height:2px;
background:white;
animation:twinkle 3s infinite;
}

@keyframes twinkle{
0%,100%{opacity:0.2;}
50%{opacity:1;}
}

/* mist */

.mist{
position:fixed;
width:200%;
height:200px;
bottom:0;
background:radial-gradient(circle,rgba(255,255,255,0.1),transparent);
animation:mistMove 18s infinite linear;
pointer-events:none;
}

@keyframes mistMove{
0%{transform:translateX(-30%);}
100%{transform:translateX(30%);}
}

